.caja{
    width: 669px;
    height: 325px;
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    color: black;
    position: absolute;
    top: 50px;
    left: 350px;
    display: none;
    font-size: larger;
    font-style: bold;
    text-align: justify;
    padding: 2%;
}

input{
    height: 15%;
    width: 20%;
    border-radius: 15px;
    font-size: larger;
    margin-left: 5%;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}