:root{
    --principal: 'Roboto', sans-serif;
}
body{
    background: #ffffff;
    font-family: var(--principal);
}

.Proyectos div{
    justify-content: space-evenly;
    padding-left: 5%;
}
.imagenes{
    height: 200px;
    width: 300px;
}

.Menu {
    width: auto;
    height: 900px;
    background: #404040;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #404040, #bfbfbf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #404040, #bfbfbf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu_texto{
    font-style: italic;
    color: white;
    font-size: larger;
    text-decoration: none;
}

footer{
    background-color: rgb(0, 0, 0);
    justify-content: center;
    width: auto;
    height: 900px;
    font-size: x-large;
    margin-top: 1%;
    opacity: 0.8;
}

.inputs{
    width: 35%;
    height: 30%;
    border-radius: 10px;
    display: flexbox;
    font-size: x-large;
    background-color: transparent;
    box-shadow: 0 0 4px #F48401;
    border: none;
    padding: 1rem;
    resize: none;
    color: white;
    outline: none;
}

.formulario_titulo{
    text-align: center;
    margin-top: 5%;
    color: #bfbfbf;
}
.formulario_campo{
    text-align: center;
    margin-top: 3%;
}

div h2{
    color: #BFBFBF;
}

div h4{
    color: #BFBFBF;
}

.Menu_personal{
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly;
    width: 100%;
    height: 10rem;
}

.quiensoy{
    background-color: rgb(238, 236, 236);
    color: #BFBFBF;
}

#qs1{
    width: auto;
    height: 900px;
    display: block;
    text-align: center;
    background-color: #404040;
    background: -webkit-linear-gradient(to right, #404040, black);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #404040, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#qs2{
    width: auto;
    height: 900px;
    display: block;
    text-align: center;
    background-color: #BFBFBF;

}

.texto_proyectos_3{
    color: #F48401;
    font-size: x-large;
    padding-top: 10%;
    width: 500px;
    padding-left: 35%;
    text-align: center;
    
}

.porfolio_cajas{
    width: 500px;
    height: 300px;
    display: flex;
}

.flex_cajas{
    display: -webkit-flex;
    justify-content: space-evenly;
}

.flex_cajas_2{
    display: -webkit-flex;
    justify-content: space-evenly;
    padding-top: 3%;
}
.flex_menu{
    display: -webkit-flex;
    justify-content: center;
    font-size: x-large; 
    padding-top: 5%;
    padding-bottom: 2%;
}

.flex_cajas_3{
    justify-content: space-evenly;
    width: auto;
}

.fondo_seccion {
    background-color: black;
    margin-top: 1%;
    height: 900px;
    padding-bottom: 2%;
}

.img_portfolio{
    width: 450px;
    height: 300px;
}

div h2{
    text-align: center;
    color: black;
    font-size:xx-large
}

.texto_proyectos{
    color: #F48401;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.div_menu{
    padding-top: 12%;    
}

.curriculum{
    width: auto;
    height: 800px;
    padding-top: 1%;
}

#titulo_seccion{
    padding-top: 0.5%;
    text-align: center;
    padding-bottom: 2%;
    color: #F48401;
}

#titulo_bm{
    padding-top: 5%;
    color: #F48401;
    font-size: x-large;
}

.ul_flex{
    padding-bottom: 5%;
}

.giflogo{
    width: 5.5rem;
    height: 7rem;
    padding-right: 20rem;
    position: absolute;
    
}